
/* Tablet and mobile */
@media (max-width: 1023px) {
    .place-buy-btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 16px;
    }
    .socials-list {
        font-size: 48px;

    }
    #footer .socials-list a {
        padding: 0px 8px;
    }

    #footer .coppyright a {
        padding: 12px 0;
    }
}

/* Mobile */

@media (max-width: 740px) {
    .s-full-width , .s-col-full {
        width: 100% !important; 
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    .contact-form {
        margin-top: 16px;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position:  initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 8px 40px;

    }

    #header .mobile-menu-btn {
        display: block;
    }


    #header .search-btn {
        display: none;
    }

    #content .member-item {
        width: 100%;
        margin-top: 30px;
    

}



/* tablet */

@media (min-width:741px ) and (max-width: 1023) {

}

/* PC */
@media (min-width: 1024px) {

}